
#art-main .section ul, div#stickers-main ul {
	list-style: none;
	padding: 0;
	margin: 20px 0;
	text-align: center;
}

#art-main .section ul li, div#stickers-main ul li {
	display: inline-block;
	background-color: white;
	margin: 10px;
	vertical-align: middle;
}

#art-main .section ul li img, div#stickers-main ul li img {
	max-height: 200px;
	display:block;
}

#art-main img {
	max-width: 300px;
}

div#bleachin-finished-products .finished-product {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	padding-right: 0px; 
}

div#bleachin-finished-products img {
	max-width: 300px;
}

div#stickers-main img {
	max-width: 300px; 
	vertical-align: top; 
}
