/*
	color: #FFD000;
	background-color: #1A1A1A; 
	background-color: rgba (26,26,26,1); 
*/

/*
	COLORS:
	bl0cks background: rgba(255,255,255,0.8); 
	t3xt color: #1C1C1C, Arial; rgba(28,28,28,1);
	h3ading: #28383D, 'Cabin Sketch', cursive; 	background-color: rgba(40,56,61,1);
	b4ckground:
	headings:

	n4v: font-family: 'Coming Soon', cursive;
	n4v h0ver background: background-color: rgba(28,28,28,1);
	n4v h0ver text: color: rgba(255,255,255,0.9);

*/

body {
	background-color: #FFF; 
	color: #1C1C1C;
	padding: 0;
	margin: 0 auto;
	font-family: Arial;
	font-size: 13px;
	text-align: center;
	/*background: url('http://i48.tinypic.com/dwlr4.jpg');*/
	background: url('../images/main/bgs/background_obsidianrainbow.png');
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: fixed;
	/*background-size: 100%;*/
	word-wrap: break-word;

	/*cursor: url('../images/main/cursors/cursor_maplestory.png'), auto;*/
}

::selection {
  background: #FFEC6E; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFEC6E; /* Gecko Browsers */
}

ul {
	line-height: 20px;
	list-style-type: square;
}

a {
	/*color: #454545;*/
	color: #666666;
}

p a:hover, span a:hover, ul a:hover {
	/*cursor: url(http://i247.photobucket.com/albums/gg132/chipmapple/maple%20cursor/link.gif), pointer;*/
	background-color: #EDEDED;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Sketch', cursive;
	text-transform: uppercase;
	color: #454545;
	margin: 40px 0 0px 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/**************************** START: NAVBAR ***************************************/

/* prevent entire navbar from creating a hole */
div#navbar-container {
	/*height done with jquery */
}

div#navbar {	/*list container */
	width: 100%;
	background-color: rgba(0,0,0,0.6);	/* n4v background-color */

	/*text-shadow: 0px 0px 10px #FFF;*/
	font-size: 14px;
	font-family: 'Coming Soon', cursive;
}
div#navbar, div#navbar a {
	color: rgba(255,255,255,0.9);	/* n4v color */
}

div#navbar ul.menu {	/* list */ 
	/*background-color: blue;*/
	width: 100%;
	max-width: 931px;
	margin: 0 auto;
	padding: 0;
	text-align: center;

	background-color: transparent; 
}

div#navbar ul.menu > li {	/* main menu item block */ 
	/*background-color: red;*/
	display: inline-block;	/* makes it one line */
	width: 13%;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

	background-color: transparent;
}
div#navbar ul.menu > li:hover {	/* main menu item block hover */ 
	/*background-color: green;*/
	background-color: transparent;
	background-color: rgba(255,255,255,0.2);	/* n4v h0ver background */
}
div#navbar ul.menu > li:hover > a.menu-link {
	color: rgba(0,0,0,0.9);	/* n4v h0ver text */
	/*color: yellow;*/
}


div#navbar ul.menu > li > a.menu-link, div#navbar ul.menu > li span.menu-link {	/* main menu item link */
	/*color: cyan; */	
	text-decoration: none;
	display: block;	/* makes padding work */
	padding: 15px 0;	/* padding to make whole block button */
}

div#navbar ul.menu > li > ul.submenu {	/* submenu */	
	/*background-color: yellow; */
	display: none;
	position: absolute;
	padding: 0;
	padding: 0 10px 10px 10px;
	margin-top: 0px;	/*depends on padding of main menu item */
	margin-left: -10px;
	background-color: transparent;
}

div#navbar ul.menu > li > ul.submenu > li{	/* submenu menu item */
	/*background-color: orange; */	
	list-style: none;
	text-align: left;
	text-transform: none;
	width: 143px;

	background-color: rgba(0,0,0,0.8);	/* n4v background-color */
}
div#navbar ul.menu > li > ul.submenu > li > a.menu-link {	/* sub menu item link */
	/*color: purple;*/
	text-decoration: none;
	display: block;
	padding: 10px 10px;

	/*color: #FFD000;*/
}
div#navbar ul.menu > li > ul.submenu > li:hover {	/* submenu menu item hover */
	/*background-color: pink;*/

	/*background-color: #FFD000;*/
	background-color: rgba(255,255,255,0.9);	/* n4v h0ver background */

}
div#navbar ul.menu > li > ul.submenu > li:hover a.menu-link {	/* submenu menu item hover link */
	/*color: #1A1A1A;*/
	color: rgba(0,0,0,0.9);	/* n4v h0ver text */

}
/*makes dropdown list show*/
div#navbar ul.menu > li:hover ul.submenu {
	display: block;
}





div#navbar.stick {	/*scroll passed menu stick */
	position: fixed;
	top: 0;

/*	background-color: rgba(26,26,26,0.2);*/
}
div#navbar.stick a {
}
/*div#navbar ul.menu li.home .home-logo.logo-reposition {	/* move logo back down so it's not cut off */
/*	margin-top: -22px;
}*/

div#navbar ul.menu li.home span.menu-link { display: none; }
div#navbar ul.menu li.home .home-logo {	/* home logo */
	position: absolute;
	z-index: 100;

	left: 50%;	/* position it in the middle. */
	margin-left: -25px;	/* half of width */

	margin-top: -28px;	/* move it up a bit to center  */
	width: 50px;
	height: 50px;
	background-image: url('../images/main/logo/sandig_100.png');
	background-size: 100%;
}

@media (max-width:480px) {
	div#navbar ul.menu > li {
		width: 12.8%;
	}
	div#navbar ul.menu > li > a.menu-link, div#navbar ul.menu > li > span.menu-link {
		font-size: 8px; 
	}
	div#navbar ul.menu li.home .home-logo {	
		display: none;
	}
	div#navbar ul.menu li.home span.menu-link {
		display: block;
	}
	div#navbar ul.menu > li > ul.submenu {	/* full width submenu */
		width: 100%;
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
	}
	div#navbar ul.menu > li > ul.submenu > li {
		width: 100%;
	} 
}

/* icon menu for phones */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px) 
/* iPads (portrait and landscape) ----------- */
/*only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)*/
{
	div#navbar ul.menu {	/* keep navigation at the top always */
		position: fixed;
		top: 0;
		background-color: #000;
		background-color: rgba(0,0,0,0.6);
	}
	div#navbar ul.menu > li {
		width: 12.8%;
		height: auto;
		background-image: url('../images/main/logo/sandig_100.png');
		background-position: top;
		background-size: 70%;
		background-repeat: no-repeat;
	}
	div#navbar ul.menu li.home span.menu-link {	/* return home button to normal */
		display: inline-block !important;
	}
	div#navbar ul.menu li.home .home-logo {
		display: none;
	}


	/* position the link text below the icon */
	div#navbar ul.menu > li > a.menu-link, div#navbar ul.menu > li span.menu-link {
		color: rgba(255,255,255,0.9);
		font-size: 8px;
		padding-top: 70%;
		padding-bottom: 0;
	}

	/* specific icon background images */
	div#navbar ul.menu > li.media {
		background-image: url('../images/main/icons/icon_tv_white.png');
	}
	div#navbar ul.menu > li.art {
		background-image: url('../images/main/icons/icon_art_white.png');
	}
	div#navbar ul.menu > li.goals {
		background-image: url('../images/main/icons/icon_goals_white.png');
	}
	div#navbar ul.menu > li.thoughts {
		background-image: url('../images/main/icons/icon_thoughts_white.png');
	}
	div#navbar ul.menu > li.quotes {
		background-image: url('../images/main/icons/icon_quotes_white.png');
	}
	div#navbar ul.menu > li.things {
		background-image: url('../images/main/icons/icon_things_white.png');
	}

	div#navbar ul.menu > li > ul.submenu {	/* full width submenu */
		width: 100%;
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
	}
	div#navbar ul.menu > li > ul.submenu > li {
		width: 100%;
	} 

	div#navbar ul.menu > li:hover ul.submenu {	/* do not show submenu when hovering */
		display: none;
	}
}

/* All other mobile devices need this for submenu to open properly */ 
div#navbar ul.menu > li:hover ul.submenu.mobile {
	display: none;
}

@media (max-width: 960px) {	/* smaller than 960px. Make the submenu full width */
	div#navbar ul.menu > li > ul.submenu {	/* full width submenu */
		width: 100%;
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0;
	}
	div#navbar ul.menu > li > ul.submenu > li {
		width: 100%;
	} 
}
/**************************** END: NAVBAR ***************************************/



/* Fix padding making document width bigger*/
div.margin-wrapper {
	margin: 20px 25px;
}


/**************************** START: CONTENT and PROFILE *************************/

div#content, div#profile {
	background-color: rgba(255,255,255, 0.9);
	display: inline-block;
	margin: 50px auto;
	text-align: left; 
	vertical-align: top;
	width: 960px;
}

div#content .content-page-title {	/*title*/
	font-size: 66px;
	/*line-height: 66px; */
	margin: 50px 0 30px 0;
}

div#content h1 {
	font-size: 55px;
}
div#content h2 {
	font-size: 44px;
}
div#content h3 {
	font-size: 33px;
}
div#content h4 {
	font-size: 22px;
}

div#content div.body {
	margin-bottom: 50px;
}

div#content div.body p {
	/*line-height: 14px;*/
}

/*****************************************************************************/

div#profile div.profileimage {
	float: left;
	margin: 5px 5px 5px 0;
	background: url('../images/main/profilepic_100x100.png');
	background-size: 100px; 
	width: 100px;
	height: 100px;
}

div#profile div.aboutme {
	display: inline-block;
	width: 75%;
}

div#profile div.contactinfo {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

div#profile div#twitter {
	margin: 20px 25px;
}

div.contactinfo .contact-email {
	margin: 10px 0;
	opacity: 0.3;
}

/*************** MORE THAN 1280PX (960 + 200 + 20margin) *********************/
/* Profile box moves next to content  */
@media (min-width: 1280px) {
	div#content {
		width: 960px;
	}
	div#profile {
		width: 200px;
		margin-left: 20px;
	}
	div#profile div.aboutme, div#profile div.contactinfo {
		width:100%;
	}
	div#profile div#twitter, div#profile div.margin-wrapper {
		margin: 20px 10px;
	}
}
/*************** LESS THAN 960px *********************/
@media (max-width: 960px) {
	div#content, div#profile, div#profile div.aboutme, div#profile div.contactinfo {
		width: 100%;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
	body {
		font-size: 16px;
	}
	div#content .body {
	
	}
}


/**************************** END: CONTENT and PROFILE *************************/

/**************************** START: BANNER *************************/

#banner {
	/*background-color: red;*/
	/*max-width: 960px;*/
	margin: 0px auto;
	padding: 0;

	height: 100px;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.8);
	/*background: transparent;*/
	margin-top: 0;
	padding: 50px 0;
	/*max-width: 1265px;*/

}
/*
#banner div.title {
	background-color: red;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 100px;

	background-color: transparent;
	background-image: url('../images/main/sanzoid_banner_logo.png');
}

#banner div.image {
	display: inline-block;
	vertical-align: top;

	width: 60%;
	height: 100px;
	margin:0;
	padding: 0;


	background-image: url('../images/main/banner_bitstrips_money.jpg');
	background-position: center;
	background-size: cover;
}*/
/*
#banner div.left, #banner div.right {
	background-color: yellow;
	background-color: rgba(255,255,255, 0.9);
	display: inline-block;
	margin: 0;
	height: 100px;
	width: 425px;
	max-width: 425px;
	
	background-color: transparent;
	background-position: center;
	background-size: cover;

	display: none;
}*/
#banner div.left {
	/*background-image: url('../images/main/banners/banner_bitstrips_money.jpg');*/
}
#banner div.right {
	/*background-image: url('../images/main/banners/banner_bitstrips_money.jpg');*/
}

#banner div.mid {
	display: inline-block;
	background-color: rgba(255,255,255, 0);

	margin: 0;
	/*width: 30%;*/
	width: 400px;
	max-width: 100%;
	height: 100px;

	background-image: url('../images/main/banners/banner_sanzoid_sandig_scratch.png');
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 480px) {	/* too small to fit banner image */
	#banner div.image {
		/*display: none;*/
	}
	#banner  {
		/*text-align: center;*/
	}/*
	#banner div.right, #banner div.left {
		display: none;
	}*/
	#banner div.mid {
		width: 100%;
	}
}/*

@media(max-width: 960px) {
	#banner div.mid {
		width: 300px;
	}
	#banner div.left, #banner div.right {
		width: 329px;
	}
}*/
/**************************** END: BANNER *************************/

/*************** TEMPORARY STUFF **************/
/*div#navbar ul.menu li.null a.menu-link {
	cursor: url('../images/main/cursors/cursor_donottouch.png'), not-allowed;
}
div#navbar ul.menu li.null a.menu-link {
	color: rgba(255,255,255,0.4);
}
div#navbar ul.menu ul.submenu li.null a.menu-link::after {
	margin-left: 5px;
	background-color: #FFD000;
	color: #1C1C1C;
	padding: 2px 3px;
	border-radius: 2px;
	font-size: 8px;
	font-family: "Arial";
	content: "coming\a0soon";
	word-wrap: normal;
	vertical-align: middle;
}

div#credits, div#credits a {
	color: #FFD000;
	margin: 20px 0;
}*/


/**************************** START: FOOTER ***************************************/
div#footer {
	margin-top: 50px;
	font-family: "Courier";
	font-size: 11px;
}

div#footer div {
	background-color: rgba(0,0,0,0.6);
	color: white;
	display: inline-block;
	position: absolute;
	padding: 2px 5px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}


div#footer .lastmodified {
	left: 0;
}

div#footer div.statcounter {
}


div#footer .siggy {
	right: 0;
}
/**************************** END: FOOTER ***************************************/


/************* Mailchimp Subscription Form *************/
#mc_embed_signup{
	background:transparent; width:100%;
}
/*#mc_embed_signup div.clear > div {
	visibility: hidden;
}*/
#mc_embed_signup div.clear > div input{
	margin: 10px 0;
	/*visibility: visible;
	margin-left: -62px;*/
}
#mc_embed_signup div.mc-field-group {
	margin: 10px 0 0 0;
}
#mc_embed_signup input[type=submit] {
	text-transform: uppercase;
	padding: 5px 10px;
	color: #1C1C1C;
	border-radius: 5px;
    /*background-color:rgba(255,204,0,1);*/
    border: none;
    border-bottom:1px solid #9f9f9f;
    width: 100px;
    background: url('../images/main/button_subscribe_text.png');
	background-color: #FFD000;
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	margin: 10px 0;
}

/*********** Handles *********************/
div#handles ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

div#handles ul li {
	display: inline-block;
}

div#handles ul li img {	/* handle_icon */
	height: 30px;
}

div#handles ul li a {	/* handle link */
	target-name:new;
	target-new:tab;
}

/*********** Extra Page stuff *********************/

div#twitter {
	border: 1px solid #e1e8ed;
	display: inline-block;
	border-radius: 5px;
}

a.link-block {
	display:inline-block; 
	background-color: lightgrey;
	text-align:center;  
	font-size:14px;
	padding:10px; 
	border-radius:5px; 
	border: 1px solid #FFF;
	text-decoration:none;
}

hr {
	margin: 30px 0;
}

ul.pages-submenu:before {
	content:"MENU";
	font-size: 16px;
	border-bottom: 1px solid lightgrey;
	display: block;
	margin: 5px 0 10px 0;
}
ul.pages-submenu {
	background-color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	border: solid 1px lightgrey;
	position: fixed; 
	right: 10px;
	bottom: 10px;
	width: 150px;
	text-align: right;
	list-style: none;
}
ul.pages-submenu a {
	text-decoration: none;
	background-color: white;
}
ul.pages-submenu a:hover {
	background-color: lightgrey;
}

@media (max-width:480px) {
	ul.pages-submenu {
		width:90%;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 5px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.8);
	}
	ul.pages-submenu li {
		display:inline-block;
		border-left: solid lightgrey 1px;
		border-right: solid lightgrey 1px;
		padding: 2px 5px;
	}
}

.anchored h2 {
	padding-top: 50px;	/* anchor jumps to 50px above h2 */
}

div#books-main ul, div#books-main ol {
	list-style: none;
}

div#books-main li.favourite:before {
	content:"Favourite";
	text-transform: uppercase;
	background-color: #F0E0C9; 
	border-radius: 2px;
	font-size: 10px;
	color: #A3783C;
	padding: 2px 5px;
	margin: 0 5px 0 0;
}

div#books-main li.school:after {
	content:"*\00a0";
}

div#books-main li.in-progress:before {
	content:"In-Progress";
	text-transform: uppercase;
	background-color: #09B51D; 
	border-radius: 2px;
	font-size: 10px;
	color: #FFF;
	padding: 2px 5px;
	margin: 0 5px 0 0;
}

div#manga-main span.progress:before {
	content:"--\00a0";
}

div#manga-main span.progress {
	font-size: 11px;
	font-style: italic;
	padding-left: 10px;
}

.upword li.empty {
	list-style-type: none;
	height: 12px;
}

.upword .important {
	font-weight: bold; 
}

.upword .strike {
	text-decoration: line-through;
}

.capitalize {
	text-transform: capitalize;
}

div#music-main li.favourite {
	font-weight: bold; 
	font-size: 14px;
}

ul.no-list-style, div.no-list-style ul {
	list-style: none; 
}

ul.no-indent, div.no-indent ul {
	margin: 0;
	padding: 0;
}

div#celebs-main ul img {
	display:block;
}

div#celebs-main .name, div#celebs-main .description {
	display: block;
}

div#celebs-main .name {
	font-weight: bold; 
	font-size: 26px;
	margin: 10px 0;
}

div#celebs-main li {
	margin-bottom: 50px;
	max-width: 500px;
}


div#pooptracker-pics div {
	display: inline-block;
	max-width: 400px;
	vertical-align: top;
	margin: 10px 20px 10px 0px;
}
div#pooptracker-main img {
	border: lightgrey 3px solid;
	border-radius: 5px;
	padding: 5px;

}
div#pooptracker-pics span {
	width: 100%;
	text-align: center;
}
div#pooptracker-main span {
	display: block;
}

div#pooptracker-redesign-main img {
	max-width: 200px;
}

div#favlist-sim img {
	max-width: 200px;
}

div#favlist-note img {
	max-width: 400px;
}
